<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'carwashapp/home.css' %}">
</head>
<body>

    <div class="heading">
        {% for i in company %}
            <h1>{{ i.title }}</h1>
        {% endfor %}

    </div>

    <div class="card-container">

        {% for i in branches %}
            <a href="/detail/{{ i.id }}">
                <div class="card">
                    <img src="{{ i.car_wash_image.url }}" alt="">
                    <p> City: {{ i.city }}</p>
                    <p> Address: {{ i.location }}</p>

                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>