<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'carwashapp/home.css' %}">
</head>
<body>

    <div class="heading">
        {% for i in company %}
            <h1>{{ i.title }}</h1>
        {% endfor %}

    </div>

    <div class="card-container">

        {% for i in branches %}
            <a href="/detail/{{ i.id }}">
                <div class="card">
                    <img src="{{ i.car_wash_image.url }}" alt="">
                    <p> City: {{ i.city }}</p>
                    <p> Address: {{ i.location }}</p>

                </div>
            </a>
        {% endfor %}

    </div>


    <section class="discounts">



{% for discs in disc %}
    <div>
    {% if disc%}
     <h2>ფასდაკლება</h2>
     <p>{{ discs.discount }} %</p>
    </div>
    {% endif %}

    <div class="new-prices">
    <div>
    {% for price in discs.prices_after_discount %}
        <p> ახალი ფასი: {{ price}}</p>
        {% endfor %}
    {% endfor %}
    </div>

<div>
    {% for prices in disc %}
        {% for p in prices.prices.all %}
            <p> მანქანის ტიპი: {{ p.get_car_type_display}}</p>
            {% endfor %}
    {% endfor %}
</div>
    </div>
    </section>
</body>
</html>